@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-right {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-evenly {
  -webkit-box-pack: evenly;
      -ms-flex-pack: evenly;
          justify-content: evenly;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  opacity: .75;
  z-index: -1;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.container, .container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.container .row, .container-fluid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.single-service {
  background-color: tomato;
  padding: 10px;
  margin: 5px;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.33333%;
  }
  .col-xxl-2 {
    width: 16.66667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.33333%;
  }
  .col-xxl-5 {
    width: 41.66667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33333%;
  }
  .col-xxl-8 {
    width: 66.66667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33333%;
  }
  .col-xxl-11 {
    width: 91.66667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .col-xxl-1 {
    width: 8.33333%;
  }
  .col-xxl-2 {
    width: 16.66667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.33333%;
  }
  .col-xxl-5 {
    width: 41.66667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.33333%;
  }
  .col-xxl-8 {
    width: 66.66667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.33333%;
  }
  .col-xxl-11 {
    width: 91.66667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}

.header-area {
  margin: 10px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

.header-area .logo a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  border: 1px solid white;
  padding: 10px 10px;
}

.header-area .menu ul li a {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 15px;
  font-weight: 300;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-area .menu ul li a:hover {
  color: #ff3636;
  background-color: #333;
}

.banner-area {
  height: 100vh;
}

.banner-area h2 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 100px;
}

.banner-area h4 {
  font-size: 24px;
  color: #fff;
  font-size: 700;
  font-weight: 700;
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  border-radius: 5px;
}

.btn.btn-primary {
  background-color: tomato;
  padding: 10px 15px;
}

.btn.btn-primary:hover {
  background-color: red;
}

.btn.btn-border {
  border: 2px solid red;
  padding: 8px 15px;
  margin-left: 8px;
}

.btn.btn-border:hover {
  background-color: red;
}

.about-area .about-content h2 {
  font-size: 50px;
  line-height: 60px;
}

.about-area .about-content h4 {
  font-size: 20px;
  margin-bottom: 30px;
}

.about-area .about-content p {
  margin-bottom: 10px;
}

.about-area .about-content ul {
  margin-left: 15px;
}

.about-area .about-content ul li {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
}

.about-area .about-content ul li i {
  color: red;
  margin-right: 10px;
}

.title-secton h2 {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.title-secton h2::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title-secton h2::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: red;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.service-area {
  background-color: gray;
}

.service-area .single-services {
  background-color: white;
  padding: 25px 30px;
  margin-bottom: 50px;
  margin: 10px 10px;
  border: 2px solid gray;
}

.service-area .single-services:hover i {
  border-radius: 50%;
}

.service-area .single-services i {
  font-size: 20px;
  background-color: tomato;
  padding: 20px;
  color: white;
}

.service-area .single-services h2 {
  font-size: 30px;
  margin: 15px 0;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
}

.project-area .single-project {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.project-area .single-project .project-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: antiquewhite;
  position: relative;
  z-index: 2;
}

.project-area .single-project .project-content::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */